.imageprop{
    width:40%;
    margin:5% 0% 5% 4%;
    height: 100%;

}
.img-thread{
    width:30%;
}
.tbl1{

    overflow-x: auto;
}
.tbl-row{
    text-align: center;
}
.editbtn{
    width:65%;
   padding: 5px;

}
@media (max-width: 576px) {
    .imageprop{
        width: 100%;
        margin: 5% 0;
    }

    .img-thread {
        width: 100%;
    }


}