.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-hover .card-body {
    transition: all .3s ease-out;
}

.card-hover .card-title {
    color: #ffffff;
}

.card {
    border-radius: 0;
}